<div id="page_wrapper">
    <div id="profile_image">
        <%= image_tag 'profile.jpeg' %>
     </div>

     <div id="content">
        <h1>It's Mr. Stick Figure</h1>
        <p>
            Lorem ipsum dolor amet tattooed four loko green juice, XOXO craft beer cloud bread artisan kale chips roof party messenger bag. Meh pour-over distillery microdosing, skateboard stumptown lyft sartorial viral whatever iceland butcher cred artisan polaroid. Master cleanse hoodie thundercats keytar single-origin coffee. Plaid palo santo neutra, snackwave fixie letterpress sartorial hot chicken raclette organic. Listicle prism chartreuse hella gochujang butcher master cleanse. Yr vexillologist mumblecore, tumblr austin everyday carry mixtape.

            Next level iPhone blog vegan stumptown affogato literally hot chicken. Seitan lumbersexual schlitz forage try-hard cred raw denim. Kogi flannel affogato activated charcoal, hella hexagon slow-carb DIY vice tumeric. Poke taiyaki fanny pack fashion axe trust fund tattooed. Post-ironic aesthetic you probably haven't heard of them four dollar toast, biodiesel tumeric blog. Vegan air plant cronut, disrupt etsy leggings jean shorts butcher cray helvetica yuccie. Man bun pinterest gluten-free, farm-to-table normcore selvage jean shorts bitters deep v.

            Four dollar toast godard fashion axe gochujang kombucha flexitarian 90's air plant four loko fingerstache. Enamel pin tacos live-edge chartreuse four dollar toast. Retro beard distillery vinyl, gluten-free sriracha cred tumblr. Squid gochujang poke, adaptogen jean shorts XOXO brooklyn biodiesel gluten-free meggings. Cloud bread pug church-key PBR&B, chicharrones chartreuse chambray. Chambray DIY williamsburg distillery, glossier trust fund photo booth. Tilde franzen vexillologist intelligentsia cronut actually, cornhole air plant leggings.

            Waistcoat bespoke health goth, normcore pour-over fanny pack put a bird on it knausgaard vaporware. Austin fashion axe raw denim, shabby chic activated charcoal raclette vaporware pour-over green juice pabst enamel pin whatever hoodie. Yuccie jean shorts green juice single-origin coffee coloring book, typewriter cred mixtape helvetica banh mi semiotics ramps. Normcore woke stumptown chillwave dreamcatcher slow-carb. Etsy schlitz drinking vinegar street art man braid.

            Raclette +1 helvetica squid cold-pressed dreamcatcher literally readymade man braid disrupt knausgaard thundercats lyft. Lyft taxidermy fanny pack chambray next level cloud bread deep v migas. Pork belly vegan cray yuccie chambray, aesthetic poke listicle kitsch drinking vinegar. Sriracha +1 DIY dreamcatcher. Kickstarter tote bag microdosing street art PBR&B cornhole mumblecore lomo raclette intelligentsia brooklyn freegan pork belly quinoa portland. Hammock crucifix DIY unicorn dreamcatcher sriracha.
            Oh. You need a little dummy text for your mockup? How quaint.

            I bet you’re still using Bootstrap too…
        </p>
     </div>
</div>